@font-face {
  font-family: "iconfont"; /* Project id 3256701 */
  src: url('iconfont.woff2?t=1691370920911') format('woff2'),
       url('iconfont.woff?t=1691370920911') format('woff'),
       url('iconfont.ttf?t=1691370920911') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaoshi:before {
  content: "\e669";
}

.icon-fangke:before {
  content: "\e66a";
}

.icon-pingtaizongrenshu:before {
  content: "\e66b";
}

.icon-jiachang:before {
  content: "\e66c";
}

.icon-pingtaicaozuoyuan:before {
  content: "\e66d";
}

.icon-xuesheng:before {
  content: "\e66e";
}

.icon-shuidianfeiyongshezhi:before {
  content: "\e69d";
}

.icon-yajinlishi:before {
  content: "\e6a1";
}

.icon-consumption:before {
  content: "\e6f1";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e631";
}

.icon-shuidianbiaoguanli:before {
  content: "\e662";
}

.icon-shechang:before {
  content: "\e657";
}

.icon-suoding:before {
  content: "\e65a";
}

.icon-a-xiangqingpicixiangqingpandianxiangqing:before {
  content: "\e65b";
}

.icon-zhanghaodenglu:before {
  content: "\e736";
}

.icon-erweimadenglu:before {
  content: "\e60f";
}

.icon-shexiangtou:before {
  content: "\e6ae";
}

.icon-chidao1:before {
  content: "\e64e";
}

.icon-qingjia1:before {
  content: "\e64f";
}

.icon-jinru:before {
  content: "\e649";
}

.icon-chuhang:before {
  content: "\e64a";
}

.icon-zaichang:before {
  content: "\e64c";
}

.icon-tingchechang:before {
  content: "\e728";
}

.icon-shidaozongcishu1:before {
  content: "\e656";
}

.icon-yingdaozongcishu3:before {
  content: "\e65c";
}

.icon-tingche-tingchechangxinxi:before {
  content: "\e781";
}

.icon-quyuxinxi-01:before {
  content: "\e675";
}

.icon-school-tingchechang:before {
  content: "\e6b0";
}

.icon-guancangfenxi:before {
  content: "\e668";
}

.icon-jieyueshu:before {
  content: "\e677";
}

.icon-grouping:before {
  content: "\e62a";
}

.icon-system-topmenu-them:before {
  content: "\e71b";
}

.icon-zuixiaohua:before {
  content: "\e6cb";
}

.icon-zuidahua:before {
  content: "\e618";
}

.icon-system-topmenu-Lockscreen:before {
  content: "\e627";
}

.icon-iot-accesscontroller-auth-ai:before {
  content: "\e7c6";
}

.icon-nianji:before {
  content: "\e659";
}

.icon-xiaoyuan:before {
  content: "\e601";
}

.icon-classes:before {
  content: "\e63e";
}

.icon-xianlu:before {
  content: "\e65f";
}

.icon-weizhi:before {
  content: "\e602";
}

.icon-quyu:before {
  content: "\e60a";
}

.icon-tianjia:before {
  content: "\e646";
}

.icon-weixuanzhong:before {
  content: "\e641";
}

.icon-xuanzhong:before {
  content: "\e640";
}

.icon-wancan:before {
  content: "\e6e7";
}

.icon-wucan:before {
  content: "\e6e8";
}

.icon-zaocan:before {
  content: "\e998";
}

.icon-zhongcan:before {
  content: "\e658";
}

.icon-canyin:before {
  content: "\e612";
}

.icon-zuheduozhongxiaofeifangshizuhexiaofei:before {
  content: "\e625";
}

.icon-xf-seller:before {
  content: "\e632";
}

.icon-shenpi-yijujue:before {
  content: "\e642";
}

.icon-shenpi-yitongyi:before {
  content: "\e64d";
}

.icon-shenpi-shenpizhong:before {
  content: "\e650";
}

.icon-shenpi-yichaoshi:before {
  content: "\e651";
}

.icon-shenpi-daishenhe:before {
  content: "\e652";
}

.icon-shenpi-yichexiao:before {
  content: "\e653";
}

.icon-shenpi-yishenhe:before {
  content: "\e654";
}

.icon-zhuapaijilu:before {
  content: "\e667";
}

.icon-zaichangrenshu:before {
  content: "\e606";
}

.icon-qita:before {
  content: "\e85f";
}

.icon-laifang:before {
  content: "\e607";
}

.icon-chidao:before {
  content: "\e72e";
}

.icon-sushelou:before {
  content: "\e6c8";
}

.icon-likai:before {
  content: "\eb9d";
}

.icon-susheguanli:before {
  content: "\e6e2";
}

.icon-qingjia:before {
  content: "\e624";
}

.icon-jinggao:before {
  content: "\e604";
}

.icon-wodexuesheng:before {
  content: "\e67d";
}

.icon-xuexiao_jiaoshi:before {
  content: "\e660";
}

.icon-menjinguanli1:before {
  content: "\e60c";
}

.icon-menqu:before {
  content: "\e661";
}

.icon-code:before {
  content: "\e65d";
}

.icon-qiyongicon-:before {
  content: "\e622";
}

.icon-renlianshibie1:before {
  content: "\e610";
}

.icon-ka:before {
  content: "\e611";
}

.icon-tingyong_line:before {
  content: "\e68c";
}

.icon-weiqiyong:before {
  content: "\e613";
}

.icon-guashi:before {
  content: "\e997";
}

.icon-kaika:before {
  content: "\e603";
}

.icon-tuika:before {
  content: "\eb9e";
}

.icon-syjiaoshi:before {
  content: "\e684";
}

.icon-syxuesheng:before {
  content: "\e60d";
}

.icon-sycaozuoyuan:before {
  content: "\e7cc";
}

.icon-syzongrenshu:before {
  content: "\e616";
}

.icon-syfangke:before {
  content: "\e7db";
}

.icon-syxueshengjiachang:before {
  content: "\e60e";
}

.icon-nan:before {
  content: "\e64b";
}

.icon-nv:before {
  content: "\e71d";
}

.icon-loudong:before {
  content: "\e655";
}

.icon-louceng:before {
  content: "\e617";
}

.icon-wailaifangke:before {
  content: "\e61f";
}

.icon-neiburenyuan:before {
  content: "\ea91";
}

.icon-yuanchengkaimen:before {
  content: "\e75f";
}

.icon-chaosong:before {
  content: "\e63f";
}

.icon-yizuofei:before {
  content: "\e63b";
}

.icon-xueshengsushe:before {
  content: "\e999";
}

.icon-susheweihu:before {
  content: "\e621";
}

.icon-iot-login-suo:before {
  content: "\e685";
}

.icon-iot-login-aiqingmiao_iconfont:before {
  content: "\e623";
}

.icon-zanwushuju:before {
  content: "\e689";
}

.icon-shezhi:before {
  content: "\e615";
}

.icon-school-tushuguan:before {
  content: "\e688";
}

.icon-school-baobiaoguanli:before {
  content: "\e68b";
}

.icon-school-quanxian:before {
  content: "\e68d";
}

.icon-school-kaoqin:before {
  content: "\e68e";
}

.icon-school-fangkeguanli:before {
  content: "\e68f";
}

.icon-school-xitongguanli:before {
  content: "\e75a";
}

.icon-school-yidongAPPguanlixitong:before {
  content: "\e692";
}

.icon-school-menjin:before {
  content: "\e693";
}

.icon-school-susheguanli1:before {
  content: "\e714";
}

.icon-school-jichuziliao:before {
  content: "\e694";
}

.icon-school-xiaofei:before {
  content: "\e695";
}

.icon-school-jiekouguanli:before {
  content: "\e696";
}

